:root {
    --fonte-cabeçalho: "Poetsen One";
    --fonte-principal: "Raleway";
    --cor-fundo-cabecalho: #1E5959;
    --verde1: #89D99D;
    --verde2 : #3B8C6E;
    --azul1 : #212529;
    --azul2 : #164773;
    --fonte-cor: white;
  }
  
  a:link, a:visited,  a:hover, a:active
  {
      color: var(--fonte-cor);
      text-decoration: none;
  }